
.sidenavAndHeading{
    display: inline-block; 
}

.header-h1{
    color: white;
    font-size: 9vh;
    font-family: 'Roboto', sans-serif;    
}

.sub-h1{
    color: white;
    font-size: 2vh;
    font-family: 'Noto Serif KR', sans-serif;
}
