
/* media queries*/

@media (min-width: 320px) and (max-width: 640px) {
   
    .todo-div{
        width: 150vh; 
        height: 240vh;
     }  
}    
 
@media (min-width:360px) and (max-width: 640px) {

    .todo-div{
        width: 120vh; 
        height: 174vh;
     }  
}


@media (min-width:375px) and (max-width: 768px) {

    .todo-div{
        width: 120vh; 
        height: 165vh;
     }  
}

@media (min-width:411px) and (max-width: 768px) {
    
    .todo-div{
        width: 120vh;
        height: 148vh;
    }
}


@media (min-width: 375px) and (max-width: 992px){

    .todo-div{
        width: 120vh;
        height: 165vh;
    }
}

@media (min-width: 411px) and (max-width: 992px){

    .todo-div{
        width: 120vh;
        height: 148vh;
    }
}


@media (min-width: 768px) and (max-width: 1200px) {
    .todo-div{
        width: 80vh;
        height: 54vh;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .todo-div{
        width: 205vh;
        height: 95vh;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .todo-div{
        width: 205;
        height: 103vh;
    }
}