
#mainTopHeadingLower{
    text-align: center;
    font-size: 1.8rem;
}
#mainTopHeadingUpper{
    text-align: center;
    font-size: 4rem;
}

.CustomButton{
    bottom: -15px !important;
    right: -17px !important;
}
.headerUpper{
    margin-top: -36px;
    background-color: #4dd0e1;
    text-align: center !important;
    color: white;
    font-size: 1.5rem;
    max-width: 200px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}